@media screen and (max-width: 768px)
{
    table>thead, table>thead>tr, table>thead>tr>th, table>tbody, table>tbody>tr, table>tbody>tr>td, table>tbody>tr>td>p
    {
        display:block;
        text-align: center;
    }

    .trash-border{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px black;
    }

}