/* _______________________________________________________________________________________________________________________________________________________________________

GENERAL

couleur des textes :#BCB08D    _______________________________________________________________________________________________________________________________________________________________________ */
.pol-shadows{
    font-family: 'Shadows Into Light', cursive;
}
.body {
    background: url('/oc/projet4/public/images/background-alaska.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway Thin', sans-serif;
    position: relative;
    min-height:80vh;
}

.bodyBlack {
    background: rgb(15,57,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(15,57,77,1) 10%, rgba(20,89,110,1) 50%, rgba(16,80,102,1) 51%, rgba(27,126,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(15,57,77,1) 10%,rgba(20,89,110,1) 50%,rgba(16,80,102,1) 51%,rgba(27,126,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(15,57,77,1) 10%,rgba(20,89,110,1) 50%,rgba(16,80,102,1) 51%,rgba(27,126,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f394d', endColorstr='#1b7e99',GradientType=0 ); /* IE6-9 */
}

.bg-white{
    background-color: rgba(255,255,255, 0.8)!important;
    margin:20px;
    padding: 20px;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;

}

p {
    text-align: justify;
    color: black ;
    line-height: 1.58;
    font-size: 16px;
}
.type-roman>p {
    text-align: justify!important;
    color: black!important;
    line-height: 1.58!important;
    font-size: 21px!important;
    font-weight: 400!important;
}
.learn-more{
    float: right;
    color: white;
    font-size: 12px;
}
.learn-comments{
    float: right;
    color: white;
    font-size: 12px;
}
img{
    width: 100%;
}
.mce-tinymce.mce-container.mce-panel{
    border-radius: 6px 6px 6px 6px!important;
}

/* COLOR _______________________________________________________________________________________________________________________________________________________________________*/
a {
    color: black;
}
.color-glacier{
    color: #64B5F6;
}

.color-fauve{
    color:   #BCB08D;
}
.Roman {
    color:black !important;
}

.Editorial {
    color: black !important;
}

button>a{
    color: white;
}
button>a::hover{
    color: white;
}
/* SPACE _______________________________________________________________________________________________________________________________________________________________________*/
.space-margin-bot{
    margin-bottom: 30px;
}
.space-margin-top{
    margin-top: 30px;
}
.space-padding-top{
    padding-top: 30px;
}
.space-padding-bot{
    padding-bottom: 30px;
}

/* _______________________________________________________________________________________________________________________________________________________________________

BILLET EN ALASKA

    _______________________________________________________________________________________________________________________________________________________________________ */
#page-title{
    height: 120px;
}
#book-title{
    margin-top: 50px;
    color: white;
    font-size: 40px;
}
/* _______________________________________________________________________________________________________________________________________________________________________

NAVBAR

    _______________________________________________________________________________________________________________________________________________________________________ */
.img-signature{
    width: 150px;
    height: auto;
}
#bouton-delog {
    margin-left: 10px !important;
}


/* _______________________________________________________________________________________________________________________________________________________________________


PAGE = BLOG
    _______________________________________________________________________________________________________________________________________________________________________ */
#img-portrait{
    margin-top: 15px;
}

.dataPostBlog {
    border-top: solid 1px black;
}
/*bloc last billets*/
.title-blog {

    padding-left: 20px;

}
.title-blog>div>h2{
    margin-top: 15px;
    color: #BCB08D!important;
}
.title-blog>div>ul{
    margin-top: 10px;
    color: #BCB08D!important;
}
.title-blog>div>ul>li>a{
    margin-top: 10px;
    color: #BCB08D!important;
}
/* _______________________________________________________________________________________________________________________________________________________________________


PAGE ALONE
    _______________________________________________________________________________________________________________________________________________________________________ */

#postAlone{
    margin: auto;
    padding: 20px;

}
.dataPostBlogView{
    border-top: solid 2px  #BCB08D;
}
.img-Chapter{
    width: 100%;
}
/* _______________________________________________________________________________________________________________________________________________________________________

PAGE ERROR
    _______________________________________________________________________________________________________________________________________________________________________ */
figure{
    position: relative;
}
figcaption{
    position: absolute;
    top: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255, 0.8)!important;
    color: #BCB08D;
    font-size: 40px;
    text-align: center;
}
/* _______________________________________________________________________________________________________________________________________________________________________

FOOTER
    _______________________________________________________________________________________________________________________________________________________________________ */
.social-icon{
    color: white;
    border-top: solid 2px white;
    padding-top: 50px;
    letter-spacing: 20px;
}
.footer-copyright, .footer-copyright>a
{
    color: white;
}
footer{
    position: absolute;
    bottom:-20px;
    width: 100%;
    height: 50px;


}
/* _______________________________________________________________________________________________________________________________________________________________________

PAGE LOGIN
    _______________________________________________________________________________________________________________________________________________________________________ */
#error-message-login{
    margin-bottom: 15px;
    font-size: 20px;
    color: #BCB08D!important;
}
/* _______________________________________________________________________________________________________________________________________________________________________

PAGE ADMIN
    _______________________________________________________________________________________________________________________________________________________________________ */
td>p{
    width: 70%;
}
.table-chapters{
    display:table!important;
}
.fas .fa-bell-slash{
    margin-left: 3px;
}