
/* _______________________________________________________________________________________________________________________________________________________________________


SLIDER
    _______________________________________________________________________________________________________________________________________________________________________ */

/* DIAPORAMA ======================================================================== */

#slider {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}